@import "tailwindcss";

@font-face {
  font-family: "Sifonn";
  src: url("/fonts/SIFONN_PRO.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Sifonn", sans-serif;
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@media (max-width: 320px) {
  .flex-col-xs {
    @apply flex-col;
  }
}

@media (max-width: 470px) {
  .flex-col-425 {
    @apply flex-col items-center gap-4;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Sifonn", sans-serif;
}

/* Scrollbar personalizada */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #111827; /* gray-900 */
}

::-webkit-scrollbar-thumb {
  background: #4ade80; /* green-400 */
  border-radius: 4px;
  border: 2px solid #111827;
}

::-webkit-scrollbar-thumb:hover {
  background: #22c55e; /* green-500 */
}

* {
  scrollbar-width: thin;
  scrollbar-color: #4ade80 #111827;
}

/* globals.css */
.perspective {
  perspective: 1000px;
}

.transform-style-preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}
